<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="header.html :: headerfiles"/>
    <link media="all" type="text/css" th:href="@{/styles/constructor.css}" rel="stylesheet"/>
    <title>Электрические компоненты</title>
</head>
<body style="background-color: lightblue;">

<div class="main-title">
    <div style="margin-left: 20px">
    <span>
        <h1 style="display: inline">Созданение типа компонента</h1>
        <button id="update_form" style="display: inline; float: right; margin-right: 20px" class="btn-lg custom-button edit-button">Обновить форму</button>
    </span>
    <span style="display: inline-block" class="main-title my-container">
        <fieldset style="display: inline">
            <legend>Обязателен ли ввод?</legend>
            <div>
              <input type="radio" id="required" name="require" checked value="true">
              <label for="required">Обязательно</label>
            </div>
            <div>
              <input type="radio" id="nonrequired" name="require" value="false">
              <label for="nonrequired">Необязательно</label>
            </div>
        </fieldset>
        <form style="display: inline">
            <input required type="text" id="key-field" name="name-field" placeholder="Введите ключ поля">
        </form>
        <form style="display: inline">
            <input required type="text" id="name-field" name="type-field" placeholder="Введите название поля">
        </form>
        <button id="add-element" class="btn custom-button add-button">Добавить элемент на страницу</button>
        </span>
    </div>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Удаление</th>
            <th style="min-width: 150px;" scope="col">Ключ</th>
            <th style="min-width: 150px;" scope="col">Название</th>
            <th scope="col">Обязательно</th>
        </tr>
        </thead>
        <tbody id="table-components">
        <tr th:each="elem: ${template_field.getFields()}">
            <th><button class="btn-sm custom-button remove-button">Удалить</button></th>
            <th th:each="map: ${elem.keySet()}" th:text="${map}"></th>
            <th:block th:each="field: ${elem.values()}">
                <th th:text="${field.getValue()}"></th>
                <th th:text="${field.isRequired()}"></th>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>

<script th:inline="javascript">

    const type_key = window.location.href.substring(window.location.href.lastIndexOf("/") + 1);
    let fields = {};
    fields[type_key] = {};

    let templateFields = [[${template_field}]];
    templateFields['fields'].forEach(function (elem) {
        let keys = Object.keys(elem);
        fields[type_key][keys] = {
            "value": elem[keys]['value'],
            "required": elem[keys]['required']
        };
    });
</script>
<script th:src="@{/js/constructor.js}"></script>

</body>
</html>