<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <link media="all" type="text/css" th:href="@{/styles/bootstrap.css}" rel="stylesheet"/>
    <link media="all" type="text/css" th:href="@{/styles/header.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
</body>
</html>