<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <link media="all" type="text/css" th:href="@{/styles/bootstrap.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<header th:fragment="header(type_components)">
        <span class="main-title my-container">
        <a style="text-decoration: none" th:href="@{/}" class="btn-sm custom-button add-button">Главная страница</a>
        <div class="dropdown">
            <select class="form-select" aria-label="Default select example">
                <option selected>Все компоненты</option>
                <option th:each="elem: ${type_components}" th:value="${elem.key}" th:text="${elem.value}"/>
            </select>
        </div>
        <form>
            <input type="text" id="item-search" name="item=search" placeholder="Введите название компонента">
        </form>
        <div class="dropdown">
            <a style="text-decoration: none" th:href="@{/type_components}" class="btn-sm custom-button add-button">Типы компонента</a>
            <button class="btn-sm custom-button add-button">Добавить компонент</button>
        </div>
        </span>
</header>
</body>
</html>