.main-title-type-components {
    display: inline-block;
    margin-bottom: 15px;
    padding-top: 15px;
    margin-left: 20px;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

input[type=text] {
    width: 50%;
}